{% extends "base.html" %}
{% block title %}
	About
{% endblock%}

{% block body_block%}



        <div class="col-xs-1 visible-xs"></div>

        <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-10">
            <p style="margin-top:100px;">
            an assignment of database curriculum design.
            </p>
            

            <h4 class="pitch">The file data.txt includes all the datasets, not too many thanks to my teacher who sent me the file. All I have to do is pick a pattern (client/server or browser/server respectively) to realize these basic requirements such as altering, deleting, adding, searching. A report form is also needed.</h4>
            <p>
            I am trying to design the assignment with Django which is a prevalent Python Web framework . 
            </p>
            <p>
            Here is a list of python packages <code>pip freeze</code>
            <li>
            Django==1.8.2
            </li>
            <li>
            django-report-builder==3.2.0
            </li>
            <li>
            django-report-utils==0.3.13
            </li>
            <li>
            django-suit==0.2.15
            </li>
            <li>
            djangorestframework==3.3.1
            </li>
            <li>
            image==1.4.1
            </li>
            <li>
            jdcal==1.2
            </li>
            <li>
            mechanize==0.2.5
            </li>
            <li>
            openpyxl==2.2.1
            </li>
            <li>
            Pillow==3.0.0
            </li>
            <li>
            pysqlite==2.8.1
            </li>
            <li>
            python-dateutil==2.4.2
            </li>
            <li>
            six==1.10.0
            </li>
            <li>
            wheel==0.26.0
            </li>

            </p>
            <p><a href="https://github.com/skywhat/data" target="_blank">GitHub Source Code</a></p>
        </div>

{% endblock %}
